[pylint]
disable=
    arguments-differ,
    attribute-defined-outside-init,
    bad-continuation,
    bad-option-value,
    broad-except,
    consider-using-dict-items,
    consider-using-enumerate,
    consider-using-f-string,
    consider-using-in,
    consider-using-with,
    empty-docstring,
    exec-used,
    import-error,
    inconsistent-return-statements,
    invalid-name,
    line-too-long,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    no-else-break,
    no-else-raise,
    no-else-return,
    no-member,
    no-self-use,
    protected-access,
    redefined-outer-name,
    simplifiable-if-expression,
    superfluous-parens,
    too-many-arguments,
    too-many-boolean-expressions,
    too-many-branches,
    too-many-instance-attributes,
    too-many-lines,
    too-many-locals,
    too-many-nested-blocks,
    too-many-public-methods,
    too-many-return-statements,
    too-many-statements,
    try-except-raise,
    unidiomatic-typecheck,
    unspecified-encoding,
    unused-argument,
    unused-variable,
    useless-object-inheritance,
    useless-return,
good-names=
    template-python
ignore=
    __init__.py,
notes=
    FIXME,
